<p id="notice"><%= notice %></p>

<h1>Reserva Ecs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserva_ecs.each do |reserva_ec| %>
      <tr>
        <td><%= link_to 'Show', reserva_ec %></td>
        <td><%= link_to 'Edit', edit_reserva_ec_path(reserva_ec) %></td>
        <td><%= link_to 'Destroy', reserva_ec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reserva Ec', new_reserva_ec_path %>
