<%= form_with(model: reservacion, local: true) do |form| %>
  <% if reservacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservacion.errors.count, "error") %> prohibited this reservacion from being saved:</h2>

      <ul>
      <% reservacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.number_field :usuario_id, id: :reservacion_usuario_id %>
  </div>

  <div class="field">
    <%= form.label :espacio_comun_id %>
    <%= form.number_field :espacio_comun_id, id: :reservacion_espacio_comun_id %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :reservacion_fecha %>
  </div>

  <div class="field">
    <%= form.label :t_inicio %>
    <%= form.time_select :t_inicio, id: :reservacion_t_inicio %>
  </div>

  <div class="field">
    <%= form.label :t_fin %>
    <%= form.time_select :t_fin, id: :reservacion_t_fin %>
  </div>

  <div class="field">
    <%= form.label :estatus_reserva_id %>
    <%= form.number_field :estatus_reserva_id, id: :reservacion_estatus_reserva_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
