<p id="notice"><%= notice %></p>

<h1>Reservars</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Espacio comun</th>
      <th>Fecha</th>
      <th>T inicio</th>
      <th>T fin</th>
      <th>Estatus reserva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservars.each do |reservar| %>
      <tr>
        <td><%= reservar.usuario_id %></td>
        <td><%= reservar.espacio_comun_id %></td>
        <td><%= reservar.fecha %></td>
        <td><%= reservar.t_inicio %></td>
        <td><%= reservar.t_fin %></td>
        <td><%= reservar.estatus_reserva_id %></td>
        <td><%= link_to 'Show', reservar %></td>
        <td><%= link_to 'Edit', edit_reservar_path(reservar) %></td>
        <td><%= link_to 'Destroy', reservar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservar', new_reservar_path %>
