<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @reservar.usuario_id %>
</p>

<p>
  <strong>Espacio comun:</strong>
  <%= @reservar.espacio_comun_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @reservar.fecha %>
</p>

<p>
  <strong>T inicio:</strong>
  <%= @reservar.t_inicio %>
</p>

<p>
  <strong>T fin:</strong>
  <%= @reservar.t_fin %>
</p>

<p>
  <strong>Estatus reserva:</strong>
  <%= @reservar.estatus_reserva_id %>
</p>

<%= link_to 'Edit', edit_reservar_path(@reservar) %> |
<%= link_to 'Back', reservars_path %>
